<h1>Welcome to Client Management System</h1>
<a class="btn btn-outline-primary" asp-controller="Client" asp-action="AddClient">Add New Client</a>
<a class="btn btn-outline-warning" asp-controller="Client" asp-action="ListClient">Display Client</a>