<h1>Welcome to User Management System</h1>
<a class="btn btn-primary" asp-controller="Account" asp-action="Register">Add New User</a>
<a class="btn btn-secondary" asp-controller="Account" asp-action="ListUsers">Display User</a>
<a class="btn btn-outline-primary" asp-controller="Account" asp-action="AddRole">Add New Role</a>
<a class="btn btn-outline-secondary" asp-controller="Account" asp-action="ListRoles">Display Role</a>
<a class="btn btn-outline-info" asp-controller="Account" asp-action="ListUsersRoles">Display Roles of User</a>
<a class="btn btn-outline-warning" asp-controller="Account" asp-action="ListClaimUsers">Display Claims of User</a>
