@model RegisterClientViewModel
<h4>Enter some basic details</h4>
<form method="post" asp-action="Register">
    <div class="form-floating mb-3">
        <label asp-for="ClientId">Client ID</label>
        <input asp-for="ClientId" class="form-control">
    </div>
    <div class="form-floating mb-3">
        <label asp-for="DisplayName">Client Name</label>
        <input asp-for="DisplayName" class="form-control">
    </div>
    <div class="form-floating mb-3">
        <label asp-for="DisplayUrl">Client URL</label>

        <input asp-for="DisplayUrl" class="form-control">
    </div>
    <div class="form-floating mb-3">
        <label asp-for="LogoUrl">Logo URL</label>

        <input asp-for="LogoUrl" class="form-control">
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Register</button>

</form>