@model IdentityServer.ViewModels.UpdateRoleViewModel
<h2>Update Role</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-action="UpdateRole">
    <div class="mb-3 form-group">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" type="text" disabled class="form-control">
    </div>
    <div class="mb-3 form-group">
        <label asp-for="RoleName" class="form-label"></label>
        <input asp-for="RoleName" class="form-control" id="role">
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary">Update</button>
    <a class="btn btn-warning" asp-action="ListRoles">Cancel</a>
</form>